:root {
/** MIDNIGHT LAVENDER */
/*--color-primary-200: #a235b6;
--color-primary-500: #c885d2;
--color-primary-600: #d49ddb;

--color-surface-100: #0b0129;
--color-surface-300: #3a3553;
--color-surface-400: #534f6a;
--color-surface-600: #898599;

--color-surface-mixed-600: #91899e;

--color-p: #e4e3e8;

--bg-2: #0c0425;
--bg-3: #0e0722;
--bg-4: #100a1f;
--bg-5: #110d1c;*/

/* SUBTLE DARK MODE */
--color-primary-200: #87b9ff;
--color-primary-500: #71afff;
--color-primary-600: #89a9cd;/* #58a6ff; */

--color-surface-100: #54565b;
--color-surface-300: #3b3e43;
--color-surface-400: #24272c;
--color-surface-600: #0d1117;

--color-surface-mixed-600: #0e1218;

--light-header-2: #B5C0C0;
--light-header: #A8CEFF;
--color-p: #EDEEEE; /* #D2D9DF; #c9d1d9; */

--bg-1: #36393A;
--bg-2: #333638;/* #5a5e64; */
--bg-3: #2a2d32;
--bg-4: #14161a;
--bg-5: #0c0c12;
}


.triangle {
	position: relative;
}

.triangle:after {
	content: '';
	position: absolute;
}

.triangle1 {
	margin: 0rem;
    width: 100%;
    height: 120px;
    background: var(--bg-2);
    clip-path: polygon(100% 100%, 100% 0%, 0% 100%);
}

.triangle2 {
	margin: 0rem;
    width: 100%;
    height: 60px;
    background: var(--bg-3);
}

.triangle2:after {
	width: 100%;
    height: 60px;
    background: var(--bg-2);
    clip-path: polygon(100% 100%, 100% 0%, 0% 0%);
}

.triangle3 {
	margin: 0rem;
    width: 100%;
    height: 45px;
    background: var(--bg-4);
}

.triangle3:after {
	width: 100%;
    height: 45px;
    background: var(--bg-3);
    clip-path: polygon(0% 0%, 0% 100%, 100% 0%);
}

.triangle4 {
	margin: 0rem;
    width: 100%;
    height: 25px;
    background: var(--bg-5);
}

.triangle4:after {
	width: 100%;
    height: 25px;
    background: var(--bg-4);
    clip-path: polygon(100% 100%, 100% 0%, 0% 0%);
}


.floatright {
	float: right;
}

.floatleft {
	float: left;
}

.importantinfo {
	font-style: oblique;
}

.darkbg {
	background-color: var(--bg-5);
}

.banner {
	position: fixed;
	top: 0px;
	color: var(--color-surface-600);
	width: 100%;
	z-index: 10;
	text-align: center;
	margin: 0rem;
	animation: banner-anim linear forwards;
	animation-timeline: scroll();
	animation-range: 0vh 60vh;
}

#bannercolor {
	background-color: var(--color-surface-400);
	border-radius: 0px 0px 12px 12px;
}

#bannericons {
	padding: 0rem;
}

#bannericons ul {
	color: transparent;
	margin: auto;
	display: flex;
	justify-content: center;
}

#bannericons img {
	width: 65px;
	/*padding: 2rem 0rem 0rem 0rem;*/
	animation: banner-img-anim linear forwards;
	animation-timeline: scroll();
	animation-range: 0vh 60vh;
}

#bannercontent {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	justify-content: center;
	vertical-align: middle;
	color: var(--color-primary-200);

	align-items: center;
}

#banneranim {
	font-size: 50px;
	animation: banner-header-anim linear forwards;
	animation-timeline: scroll();
	animation-range: 0vh 60vh;
}

@keyframes banner-anim {
	from {
		/*background-color: var(--color-surface-300);*/
		opacity: 100%;
	}
	to {
		/*background-color: #24203bdf;*/ /* --color-surface-200+df for transparency */
		opacity: 85% /* DF in decimal is 223, max is 255, so should be around 87.some% */
	}
}

@keyframes banner-img-anim {
	from {
		/*padding: 2rem 0rem 0rem 0rem;*/
		width: 65px;
	}
	to {
		/*padding: 1rem 0rem 0rem 0rem;*/
		width: 35px;
		/* New Stuff */
		/*width: 50px;*/
	}
}

@keyframes banner-header-anim {
	from {
		font-size: 50px;
	}
	to {
		font-size: 30px;
	}
}

#pagenav {
	/*padding: 2.5rem 0rem 0rem 0rem;*/
	/*animation: banner-contactme-padding-anim linear forwards;
	animation-timeline: scroll();
	animation-range: 0vh 60vh;*/
}

#nav {
	font-size: 35px;
	color: var(--color-primary-200);
	text-decoration: none;
	animation: banner-nav-anim linear forwards;
	animation-timeline: scroll();
	animation-range: 0vh 60vh;
}

/*#contactme {
	font-size: 35px;
	color: var(--color-primary-200);
	text-decoration: none;
	animation: banner-contactme-anim linear forwards;
	animation-timeline: scroll();
	animation-range: 0vh 60vh;
}*/

@keyframes banner-nav-anim {
	from {
		font-size: 35px;
	}
	to {
		font-size: 20px;
	}
}

.bodycontainer {
	margin: 0% 0%;
	/*text-align: justify;*/
}

.bodycontainer p {
	color: var(--color-p);
}

.bodycontainer h2 {
	color: var(--light-header);
}

.bodycontent {
	padding: 5px 15px;
	/*margin: 0% 25%;*/
	margin: 0% 10%;
}

#aboutme {
	padding-top: 10%;
	padding-bottom: 3%;
}

#secondbody {
	margin: 0%;
	background-color: var(--bg-2);
	padding: 3% 0% 3% 0%;
}

#thirdbody {
	margin: 0%;
	background-color: var(--bg-3);
	padding: 3% 0% 3% 0%;
}

#fourthbody {
	margin: 0%;
	background-color: var(--bg-4);
	padding: 3% 0% 13% 0%;
}

#fifthbody {
	margin: 0%;
	background-color: var(--bg-5);
	padding: 3% 0% 5% 0%;
}

.twocolumn {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto;
	margin: 0% 10%;
}

.twocolumn .bodycontent {
	margin: 5%;
}

@media (min-width: 1300px) {
	.bodycontent {
		margin: 0% 20%;
	}

	.twocolumn {
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto;
		margin: 0% 20%;
	}
}

/*.schedule {
	background-color: var(--color-surface-200);
	border-radius: 8px;
	width: inherit;
	margin-right: 2rem;
	text-align: center;
	padding: 5px;
}

.schedule th,td {
	border: 1px solid var(--color-surface-500);
	color: var(--color-p);
}

.schedule h4 {
	color: var(--color-primary-500);
}*/

.profileimg {
	margin-top: 3rem;
	height: 15rem;
	padding-right: 1rem;
}

.projectwrapper {
	margin: auto;
	width: 100%;
	padding-top: 15px;
}

.project {
	margin: auto;
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	/* New Stuff*/
	/*width: 125%;*/
	padding-bottom: 10vh;
	/*margin: 0% 0% 0% -25%;*/
}

.projectlink {
	margin: auto;
	text-align: center;
}

.projectlink ul {
	color: transparent;
	display: flex;
	flex-flow: row wrap;
	/*justify-content: space-around;*/
}

.projectlink li {
	padding: 5px;
}

.projectlink a {
	outline-width: 6px;
	border: 4px double var(--color-primary-500);
	text-align: center;
	padding: 0.1rem 1rem;
	font-size: 1.5rem;
	color: var(--light-header-2);
}

.projectimg {
	z-index: 2;
	width: 100%;
	margin: 0%;
}

/* New Stuff */
.projectimg img {
	width: 100%;
}

.projectcontent {
	z-index: 3;
	background-color: var(--bg-4);
	border-top: 6px dashed var(--color-primary-200);
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
	/*padding: 1rem 3rem;*/
	width: 100%;
	/* New Stuff */
	padding: 1rem 0rem;
	margin: auto;
}

.projectcontent h2 {
	text-align: center;
}

.projectcontent h3 {
	text-align: center;
	color: var(--light-header-2); /* Was --color-primary-600 */
	margin: 0%;
}

.projectcontent p {
	padding: 0% 5%;
}

@media (min-width: 1024px) {
	.project {
		width: 100%;
		flex-flow: row nowrap;
		margin: 0%;
	}

	.project:nth-child(even) {
		flex-flow: row-reverse nowrap;
		align-items: center;
	}

	.projectcontent {
		margin: auto;
	}

	.projectimg {
		margin: 0%;
	}

	.projectimg img {
		width: 75%;
	}
}

@media (min-width: 1024px) and (max-height: 1024px) {
	.projectimg img {
		width: 95%;
	}
}

.skills {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.skills h5 {
	color: var(--light-header);
}

.iconbox {
	text-align: center;
	margin: auto;
	padding: 1%;
	width: 100px;
}

.skillicon {
	width: 65px;
}

/* Contact Me page */
.info {
	margin-top: 10%;
}

.contactinfo {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	margin: 0% 10%;
	justify-content: center;
	text-align: center;
	font-size: 20pt;
}

.contactinfo label {
	pointer-events: none;
	transform: translateY(2.25em);
	text-align: left;
	padding: 0em 0.5em;
	transition: transform 0.2s ease, font-size 0.2s ease;

	color: white;
}

.contactinfo label:has(+input:focus),
.contactinfo label:has(+input:valid) {
	font-size: 0.9em;
	transform: translateY(1.25em);
}

.contactinfo label:has(+textarea:focus),
.contactinfo label:has(+textarea:valid) {
	font-size: 0.9em;
	transform: translateY(-0.2em);
}

.contactinfo input {
	font-family: consolas, sans-serif, monospace;
	font-size: 20pt;
	height: 3em;
	margin-bottom: 1em;
	border-bottom: 4px solid var(--color-primary-200);
	border-right: 4px solid var(--color-primary-200);
	text-indent: 1em;

	background-color: var(--bg-3);
	color: white;
}

.contactinfo textarea {
	font-family: consolas, sans-serif, monospace;
	font-size: 20pt;
	height: 8em;
	margin-bottom: 1em;
	border-bottom: 4px solid var(--color-primary-200);
	border-right: 4px solid var(--color-primary-200);
	resize: none;
	overflow-y: scroll;

	background-color: var(--bg-3);
	color: white;
}

.contactinfo button {
	font-family: consolas, sans-serif, monospace;
	font-size: 20pt;
	width: 30%;
	height: 2em;
	text-align: center;
	color: var(--color-primary-500);
	background-color: var(--color-surface-400);
}

/* HTML Tags */
h1 {
	font-size: 50px;
	font-family: monospace;
	font-weight: 800;
}

h2 {
	font-size: 45px;
	font-family: monospace;
}

h3 {
	font-size: 40px;
	font-family: monospace;
	font-weight: 800;
}

h4 {
	font-size: 35px;
	font-family: monospace;
	border-bottom: 3px double var(--color-surface-400);
	margin: 0% 0% 0.5% 0%;
	padding: 0%;
}

h5 {
	font-size: 1.4rem;
	font-weight: normal;
	padding: 0.8em 0em;
	margin: 0em;
}

p {
	font-size: 1.4rem;
	line-height: 1.5em;
}

table, tr, th {
	border-collapse: collapse;
}

img {
	color: white;
}

section {
	scroll-behavior: smooth;
}

body {
	background-color: var(--bg-1);
	margin: 0px;
	padding: 0px;
}

footer {
	text-align: center;
	color: var(--color-primary-600);
	background-color: var(--bg-5);
	font-size: 0.9rem;
}

html {
	scroll-behavior: smooth;
	margin: 0px;
	padding: 0px;
}